name: Build TDLib (Windows) 1.8.59

on:
  workflow_dispatch:

jobs:
  # ---------------- Windows ----------------
  build-windows:
    name: Build for Windows (x64)
    runs-on: windows-latest
    steps:
      - name: Checkout TDLib (pinned commit)
        run: |
            git clone https://github.com/tdlib/td.git
            cd td
            git checkout 561235e4b2dceb52110c243115d76b1a3cc4aca8


      - name: Install dependencies (vcpkg)
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          cd vcpkg
          ./bootstrap-vcpkg.bat
          echo "VCPKG_ROOT=$PWD" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          ./vcpkg.exe install openssl:x64-windows zlib:x64-windows gperf:x64-windows


      - name: Compile
        shell: cmd
        run: |
          cd td
          mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Release ^
                -DCMAKE_INSTALL_PREFIX:PATH=../../tdlib_windows ^
                -DCMAKE_TOOLCHAIN_FILE=%VCPKG_ROOT%/scripts/buildsystems/vcpkg.cmake ..

          cmake --build . --target install --config Release --parallel 4

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tdlib-windows-amd64-bin
          path: tdlib_windows/
